<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>라이어 게임</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="stylesheet" href="../static/room.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="room-container">
      <!-- <img
        src="{{ url_for('static', filename='liar_logo.svg') }}"
        alt="로고 이미지"
      /> -->
      <div class="room-title">
        <div class="person-image">D</div>
        <div class="active-person-image">D</div>
        <div class="person-image">D</div>
        <div class="person-image">D</div>
        <div class="person-image">D</div>
        <div class="person-image">D</div>
        <div class="person-image">D</div>
        <div class="person-image">D</div>
      </div>
      <div style="flex: 1; width: 100%; overflow: overlay">
        <div class="chat-room">
          <div class="chat">
            <div class="active-person-image">D</div>
            <div class="chat-bubble">adf</div>
          </div>
          <div class="chat">
            <div class="active-person-image">D</div>
            <div class="chat-bubble">123</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">s</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">s</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">s</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">s</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">a</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">e</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
          <div class="my-chat">
            <div class="chat-bubble">123</div>
            <div class="active-person-image">D</div>
          </div>
        </div>
      </div>
      <div style="width: 100%">
        <div
          style="
            background-color: #fbf7f0;
            gap: 8px;
            display: flex;
            padding: 12px;
            width: 100%;
            margin-bottom: 16px;
          "
        >
          <input type="text" class="form-control" />
          <button type="button" class="btn btn-primary btn-md" id="joinRoomBtn">
            전송
          </button>
        </div>
      </div>
      <!-- <div id="game_area">
        <input id="player_name" placeholder="이름을 입력하세요" />
        <button onclick="joinGame()">게임 참여</button>

        <h2>현재 방에 있는 플레이어들:</h2>
        <ul id="player_list"></ul>

        <div id="game_status"></div>

        <div id="hint_area" style="display: none">
          <input id="hint" placeholder="힌트를 입력하세요" />
          <button onclick="submitHint()">힌트 제출</button>
        </div>

        <div id="guess_area" style="display: none">
          <input id="guess" placeholder="라이어를 추측하세요" />
          <button onclick="guessLiar()">추측 제출</button>
        </div>
        <button
          id="new_game_button"
          style="display: none"
          onclick="startNewGame()"
        >
          새로운 게임 시작
        </button>
      </div> -->
    </div>
    <script>
      var socket = io.connect(
        'http://' + document.domain + ':' + location.port
      );

      function submitSentence() {
        var sentence = document.getElementById('sentence').value;
        socket.emit('submit_sentence', {
          room_id: roomId,
          player_name: playerName,
          sentence: sentence,
        });
      }

      socket.on('connect_error', function (err) {
        console.log('Connection error: ', err);
      });

      function startNewGame() {
        socket.emit('new_game', roomId);
        document.getElementById('new_game_button').style.display = 'none'; // 버튼 숨기기
      }

      socket.on('new_game_started', function (roomId) {
        document.getElementById('game_status').innerHTML =
          '새로운 게임이 시작되었습니다! 준비하세요.';
        document.getElementById('sentence').value = ''; // 입력창 초기화
      });

      function joinGame() {
        var playerName = document.getElementById('player_name').value;
        socket.emit('join_game', playerName);
      }

      // 서버에서 현재 방에 있는 플레이어 목록을 업데이트 받음
      socket.on('update_player_list', function (data) {
        var playerList = data.players;
        var playerListHtml = '';
        for (var i = 0; i < playerList.length; i++) {
          playerListHtml += '<li>' + playerList[i] + '</li>';
        }
        document.getElementById('player_list').innerHTML = playerListHtml;
      });

      socket.on('topic_info', function (data) {
        document.getElementById('game_status').innerHTML =
          '주제: ' + data.topic;
        document.getElementById('hint_area').style.display = 'block';
      });

      socket.on('liar_info', function () {
        document.getElementById('game_status').innerHTML =
          '당신은 라이어입니다. 주제를 모릅니다!';
        document.getElementById('hint_area').style.display = 'block';
      });

      function submitHint() {
        var playerName = document.getElementById('player_name').value;
        var hint = document.getElementById('hint').value;
        socket.emit('submit_hint', { player: playerName, hint: hint });
      }

      socket.on('start_guessing', function () {
        document.getElementById('hint_area').style.display = 'none';
        document.getElementById('guess_area').style.display = 'block';
      });

      function guessLiar() {
        var guess = document.getElementById('guess').value;
        socket.emit('guess_liar', { guess: guess });
      }

      socket.on('message', function (msg) {
        document.getElementById('game_status').innerHTML +=
          '<p>' + msg + '</p>';
      });
    </script>
  </body>
</html>
